<div class="container" ng-controller="productList">
    <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
            <h2>Products' Type</h2>
            <li class="active"><a data-toggle="tab" data-target="#tab2">Skincare</a></li>
            <li><a data-toggle="tab" data-target="#tab3">Make Up</a></li>
            <li><a data-toggle="tab" data-target="#tab4">Hair</a></li>

            <span>{{categoryFilter}}</span>
            <div ng-repeat="product in products | filter:categoryFilter">
            </div>
        </ul>
    </div>
	
    <div class="col-md-8" style="margin-top:5%;"> 
	 <div class="tab-content">
        <div class="tab-pane active" id="tab2">
            <table class="table table-striped" border="1" style="width:100%;border-color:#ddd">
                <tr>
                    <th>SkinCare Name</th>
                    <th>Image</th>
                </tr>
                <tr ng-repeat="product in  products ">
				<td ng-if="product.category == 'skincare'"><a href="#/productDetail/{{product.name}}">{{product.name}}</a></td>
				<td ng-if="product.category == 'skincare'"><img ng-src="{{product.image}}" alt="{{product.name}}" width="100"></td>
                </tr>
            </table>
        </div>
		 <div class="tab-pane" id="tab3">
            <table class="table table-striped" border="1" style="width:100%;border-color:#ddd">
                <tr>
                    <th>MakeUp</th>
                    <th>Image</th>
                </tr>     
                <tr ng-repeat="product in  products ">
				<td ng-if="product.category == 'makeup'"><a href="#/productDetail/{{product.name}}">{{product.name}}</a></td>
				<td ng-if="product.category == 'makeup'"><img ng-src="{{product.image}}" alt="{{product.name}}" width="100"></td>
                </tr>
            </table>
        </div>
		 <div class="tab-pane" id="tab4">
            <table class="table table-striped" border="1" style="width:100%;border-color:#ddd">
                <tr>
                    <th>Hair</th>
                    <th>Image</th>
                </tr>  
                <tr ng-repeat="product in  products ">
				<td ng-if="product.category == 'hair'"><a href="#/productDetail/{{product.name}}">{{product.name}}</a></td>
				<td ng-if="product.category == 'hair'"><img ng-src="{{product.image}}" alt="{{product.name}}" width="100"></td>
                </tr>
            </table>
        </div>
		</div>
    </div>
</div>
